:root {
    --default-bg: #5c0587;
    --default-font-fam: Helvetica, Arial, sans-serif;
    --default-font-color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: var(--default-bg);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid #727073;
    color: var(--default-font-color);
    font-family: var(--default-font-fam);
    align-items: center;
}

h1 {
    font-size: 150%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    background-color: unset;
    font-weight: bold;
    text-decoration: none;
    color: #e7e00e;
}

nav a:hover {
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
}

h2 {
   
}

section {
    display: block;
    text-align: center;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 10px;
    border: 1px solid #e7e00e;
    font-family: var(--default-font-fam);
    color: var(--default-font-color);
    max-width: 75%;
}

div {
    display: block;
}

section h2 {
    border-bottom: 5px solid #727073;
    color: #e7e00e;
}

section p {
    font-size: 14px;
}

footer {
    display: inline-flex;
    justify-content: center;
    border-top: 5px solid #727073;
    color: var(--default-font-color);
    font-family: var(--default-font-fam);
}



footer ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    color: #e7e00e;
}



@media screen and (max-width: 922px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
}